@import "_bootstrap.scss";
@import "swipe.scss";

body {
  background:url(../img/bg6.png);
}
div.normal-margins {
  margin:auto;

}
ul {
  list-style: none;
}
h3.main-heading {
  background-image: url('../img/plus.png');
  background-repeat: no-repeat;
  background-position: left 2px;
  margin: 15px 2px;
  span {
    border-bottom: 1px solid #999;
    padding-bottom: 7px;
    color: #333;
    line-height: 16px;
    margin-left: 28px;
    display: block;
  }
}

/*---- header ----*/
#header {
  padding:30px 0 30px;

  #logo {
    display: none;
    h2 {
      font-size: 30px;
      font-weight: 900;
      color: #444;
      line-height: 40px;
    }
    h4 {
      color: #666;
      line-height: 20px;
    }
  }

  ul.socialicons {
    float:left;
    padding-left:0;
    @media (min-width: $screen-sm-min) {
      float:right;
      margin-top:35px;
    }

    li {
      float: left;
      display: inline;
      margin: 0;
      padding: 0;
      margin-right: 2px;
      &:last-child {
        margin-right:0;
      }

      .social-text {
        float: left;
        padding: 7px;
        height: 30px;
        background-color: #222;
        color: #FFF;
        font-size: 12px;
        &:hover {
          text-decoration:none;
          cursor:default;
        }
      }

      @mixin social-icon($img) {
        float: left;
        width:30px;
        height:30px;
        background:#222 url($img) no-repeat 5px 5px;
      }
      .social-facebook {
        @include social-icon('../img/social_facebook.png');
      }
      .social-in {
        @include social-icon('../img/social_in.png');
      }
      .social-facebook:hover {
        background-color:#3b5998;
      }
      .social-in:hover {
        background-color:#0075a1;
      }

    }
  }
}

/*---- main content ----*/
#content {
  background-color:$brand-primary;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;

  background-image: url(../img/header-shadow.png), url(../img/header-bg.png);
  background-position: center bottom, left top;
  background-repeat: repeat-x;
  background-color: #fdd355;
  margin-bottom:30px;

  #profile {
    padding:25px;

    .photo-inner {
      float:none;
      margin:0 auto 0 auto;
      @media (min-width: $screen-sm-min) {
        float:left;
        margin:0;
      }
      @media (min-width: $screen-md-min) {
        margin-bottom:20px;
      }
      background: url(../img/photo-inner.png) no-repeat;
      width: 192px;
      height: 212px;
      padding: 12px 0 0 20px;
    }

    @mixin center_text_small {
      text-align: center;
      @media (min-width: $screen-sm-min) {
        text-align: left;
      }
    }

    h1 {
      font-size:30px;
      @include center_text_small;
      @media (min-width: $screen-md-min) {
        font-size:36px;
      }
      font-weight: 900;
      color: #FFF;
      line-height: 34px;
      margin-top: 8px;
    }
    h3 {
      @include center_text_small;
      margin-top: 5px;
      font-size: 18px;
      color: #FFF;
      line-height: 18px;
    }
    p {
      @include center_text_small;
      font-size: 13px;
      margin-top: 15px;
      color: #bc9010;
      line-height: 20px;
    }

    .personal-info {
      float: left;
      width: 310px;
      min-height: 230px;
      margin-left: 10px;
      background: url(../img/personal-info-sep.png) no-repeat left top;
      padding: 20px 0 0 20px;

      li {
        font-size: 14px;
        margin-bottom: 10px;
        overflow: hidden;
        span {
          float: right;
          width: 210px;
          color: #a87f09;
        }
      }
    }

    label {
      color: #a87f09;
      background-color: #f4c024;
      float: left;
      padding: 4px 7px;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
    }
  }

}

#nav {
  height: 100px;
  background-color: #ededed;
  position: relative;

  .tabs {
    height: 116px;
    padding:0px;
    position:relative;
    margin:-16px auto -2px auto;
    width:300px;
    @media (min-width: $screen-sm-min) {
      width:460px;
    }
    z-index: 100;

    li {
      float: left;
      height: 116px;
      @media (min-width: $screen-sm-min) {
        &.active {
          background: url('../img/tab-hover.png') no-repeat;
        }
      }
      > a {
        padding-top: 80px;
        width:75px;
        font-size: 14px;
        @media (min-width: $screen-sm-min) {
          width: 115px;
          font-size: 16px;
        }
        height: 35px;
        display: block;
        background-repeat: no-repeat;
        color: #b9b9b9;
        text-align: center;
        text-decoration:none;

        @mixin nav-tabs($img) {
          background-image: url('../img/' + $img + '-icon.png');
          background-position: center 30px;
          &.active {
            background-image: url('../img/' + $img + '-icon-active.png');
          }
        }
        &.tab-profile {
          @include nav-tabs('profile');
        }
        &.tab-resume {
          @include nav-tabs('resume');
        }
        &.tab-portfolio {
          @include nav-tabs('portfolio');
        }
        &.tab-contact {
          @include nav-tabs('contact');
        }
      }
    }
  }
}

.hidden-block {
  background-color:#ffffff;
  display:none;
  padding:4%;
}
#resume {
  ul.timeline {
    padding:10px 0 0 0;
    li {
      margin-bottom:20px;
      .timelineUnit {
        line-height: 17px;
        margin-left: 11px;
        color: #444;
        font-size: 13px;
        border-left: 1px solid #fadc66;
        padding-left: 15px;
        h4 {
          line-height: 24px;
          font-size: 15px;
          color: #444;
        }
        h5 {
          line-height: 18px;
          font-size: 13px;
          color: #999;
        }
        p {
          color: #666;
          font-size: 12px;
          margin-top: 5px;
        }
        .timelineDate {
          line-height: 17px;
          color: #f4c024;
          font-size: 14px;
          margin-left: 10px;
          font-weight: normal;
          padding: 2px 6px;
          float: right;
        }
      }
    }
  }
  ul.skills {
    margin-top: 25px;
    overflow: hidden;
    height: 100%;
    padding:0;

    li {
      margin-bottom: 15px;
      float: left;
      padding-left: 30px;
      %skills-header {
        width:140px;
        float:left;
        color: #444;
        margin:0;
      }
      h3 {
        @extend %skills-header;
        font-size:19px;
      }
      h4 {
        font-size:15px;
        @extend %skills-header;
      }
      .rat0, .rat1, .rat2, .rat3, .rat4, .rat5, .rat6, .rat7 {
        width:123px;
        height:14px;
        float:left;
      }
      .rat0 {
        background:url(../img/rats.png) no-repeat;
      }
      .rat1 {
        background:url(../img/rats.png) no-repeat 0px -14px;
      }
      .rat2 {
        background:url(../img/rats.png) no-repeat 0px -28px;
      }
      .rat3 {
        background:url(../img/rats.png) no-repeat 0px -42px;
      }
      .rat4 {
        background:url(../img/rats.png) no-repeat 0px -56px;
      }
      .rat5 {
        background:url(../img/rats.png) no-repeat 0px -70px;
      }
      .rat6 {
        background:url(../img/rats.png) no-repeat 0px -84px;
      }
      .rat7 {
        background:url(../img/rats.png) no-repeat 0px -98px;
      }
    }

  }
}
#portfolio {
  .force-width {
    width:100% !important;
  }
  .portfolio-item {
    text-align: center;
    margin-bottom:30px;

    h2, h5 {
      width:100%;
    }
    h5 {
      font-weight:600;
    }
    .portfolio-icon {
      max-width:290px;
      width:90%;
      height:60px;
      margin-left:auto;
      margin-right:auto;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    &.force-width {
      text-align: left;
      h2, h5,p.dates {
        float:left;
        width:auto;
        clear:left;
      }
      .portfolio-icon {
        float:right;
        max-width:40%;
      }
    }
    .details {
      display: none;
    }
    div.details {
      clear:both;
      padding:15px 0 15px;

      img.standalone-img {
        max-width:100%;
        display: block;
        margin:0 auto 0 auto;
      }
    }
  }
}
#contact {
  #map {
    height: 300px;
    margin-bottom: 25px;
    width: 100%;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
  }
  ul {
    float: left;
    margin-left: 11px;
    border-left: 1px solid #fadc66;
    padding-left: 18px;
    li {
      font-size: 13px;
      line-height: 20px;
      color: #666;
      overflow: hidden;
    }
  }
  #contactform {
    padding-left: 30px;
    .contact-button {
      color: #fff;
      background-color: #666;
      padding: 8px;
      border: none;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      cursor: pointer;
      font-size: 13px;
      &:hover {
        background-color: #fdc62a;
      }
    }

    p {
      margin-bottom: 15px;
      label {
        display: block;
        color: #999;
        margin-bottom: 8px;
        font-size: 13px;
      }
      .input {
        line-height: 20px;
        height: 34px;
        width: 60%;
      }
      .textarea {
        width: 95%;
      }
      .input, .textarea {
        padding: 6px;
        background-color: #f5f5f5;
        border: 1px solid #CCC;
        color: #999;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font-size: 13px;
      }
    }
  }
}