@import "_bootstrap.scss";

body {
  background:url(../img/bg6.png);
}
ul {
  list-style: none;
}
label {
  color: #a87f09;
  background-color: #f4c024;
  float: left;
  padding: 4px 7px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/*---- header ----*/
#header {
  padding:30px 0 30px;

  #logo {
    display: none;
    h2 {
      font-size: 30px;
      font-weight: 900;
      color: #444;
      line-height: 40px;
    }
    h4 {
      color: #666;
      line-height: 20px;
    }
  }

  ul.socialicons {
    float:left;
    padding-left:0;
    @media (min-width: $screen-sm-min) {
      float:right;
      margin-top:35px;
    }

    li {
      float: left;
      display: inline;
      margin: 0;
      padding: 0;
      margin-right: 2px;
      &:last-child {
        margin-right:0;
      }

      .social-text {
        float: left;
        padding: 7px;
        height: 30px;
        background-color: #222;
        color: #FFF;
        font-size: 12px;
        &:hover {
          text-decoration:none;
          cursor:default;
        }
      }

      @mixin social-icon($img) {
        float: left;
        width:30px;
        height:30px;
        background:#222 url($img) no-repeat 5px 5px;
      }
      .social-facebook {
        @include social-icon('../img/social_facebook.png');
      }
      .social-in {
        @include social-icon('../img/social_in.png');
      }
      .social-facebook:hover {
        background-color:#3b5998;
      }
      .social-in:hover {
        background-color:#0075a1;
      }

    }
  }
}

/*---- main content ----*/
#content {
  /*background-color:$brand-primary;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;*/

  background-image: url(../img/header-shadow.png), url(../img/header-bg.png);
  background-position: center bottom, left top;
  background-repeat: repeat-x;
  overflow: hidden;
  background-color: #fdd355;

  #profile {
    padding:25px;

    .photo-inner {
      float: left;
      background: url(../img/photo-inner.png) no-repeat;
      width: 192px;
      height: 212px;
      padding: 12px 0 0 20px;
    }
    h1 {
      font-weight: 900;
      color: #FFF;
      line-height: 34px;
      margin-top: 8px;
    }
    h3 {
      margin-top: 5px;
      font-size: 18px;
      color: #FFF;
      line-height: 18px;
    }
    p {
      font-size: 14px;
      margin-top: 15px;
      color: #bc9010;
      line-height: 20px;
    }

    .personal-info {
      float: left;
      width: 310px;
      min-height: 230px;
      margin-left: 10px;
      background: url(../img/personal-info-sep.png) no-repeat left top;
      padding: 20px 0 0 20px;

      li {
        font-size: 14px;
        margin-bottom: 10px;
        overflow: hidden;
        span {
          float: right;
          width: 210px;
          color: #a87f09;
        }
      }
    }
  }

}

#nav {
  height: 100px;
  background-color: #ededed;
  position: relative;

  .tabs {
    height: 116px;
    position: absolute;
    margin-top: -14px;
    padding-left: 130px;
    z-index: 100;

    li {
      float: left;
      height: 116px;
      &.active {
        background: url('../img/tab-hover.png') no-repeat;
      }
      > a {
        padding-top: 80px;
        width: 115px;
        height: 35px;
        display: block;
        background-repeat: no-repeat;
        font-size: 16px;
        color: #b9b9b9;
        text-align: center;
        &:hover {
          text-decoration:none;
        }

        @mixin nav-tabs($img) {
          background-image: url('../img/' + $img + '-icon.png');
          background-position: center 30px;
          &.active {
            background-image: url('../img/' + $img + '-icon-active.png');
          }
        }
        &.tab-profile {
          @include nav-tabs('profile');
        }
        &.tab-resume {
          @include nav-tabs('resume');
        }
        &.tab-portfolio {
          @include nav-tabs('portfolio');
        }
        &.tab-contact {
          @include nav-tabs('contact');
        }
      }
    }
  }
}

.hidden-block {
  background-color:#ffffff;
  display:none;
  padding:4%;
}
#resume {

}
#portfolio {

}
#contact {

}